<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Test Page</title>
</head>
<body>
  <h1>Test Page</h1>
  <form action="" method="post">
    <p>
      <label for="text-field">Text field</label>
      <input type="text" name="text-field" id="text-field">
    </p>
    <p>
      <label for="select-field">Select field</label>
      <select name="select-field" id="select-field">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
        <option value="5">Option 5</option>
      </select>
    </p>
    <p>
      <fieldset>
        <legend>Radio options</legend>
        <p>
          <label for="radio-field-1"><input type="radio" name="radio-field" id="radio-field-1" value="1"> Radio option 1</label>
        </p>
        <p>
          <label for="radio-field-2"><input type="radio" name="radio-field" id="radio-field-2" value="2"> Radio option 2</label>
        </p>
        <p>
          <label for="radio-field-3"><input type="radio" name="radio-field" id="radio-field-3" value="3"> Radio option 3</label>
        </p>
        <p>
          <label for="radio-field-4"><input type="radio" name="radio-field" id="radio-field-4" value="4"> Radio option 4</label>
        </p>
        <p>
          <label for="radio-field-5"><input type="radio" name="radio-field" id="radio-field-5" value="5"> Radio option 5</label>
        </p>
      </fieldset>
    </p>
    <p>
      <label for="checkbox-field-1"><input type="checkbox" name="checkbox-field-1" id="checkbox-field-1"> Checkbox field 1</label>
    </p>
    <p>
      <label for="checkbox-field-2"><input type="checkbox" name="checkbox-field-2" id="checkbox-field-2" checked> Checkbox field 2</label>
    </p>
    <p>
      <input type="submit" value="Submit form">
    </p>
  </form>
</body>
</html>