<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Test Page</title>
</head>
<body>
  <h1>Test Page Results</h1>
  <p>
    text-field: <%= text %>
  </p>
  <p>
    select-field: <%= select %>
  </p>
  <p>
    radio-field: <%= radio %>
  </p>
  <p>
    checkbox-field-1: <% if checkbox1 %>on<% else %>off<% end %>
  </p>
  <p>
    checkbox-field-2: <% if checkbox2 %>on<% else %>off<% end %>
  </p>
  <p>
    <a href="/">Go back</a>
  </p>
</body>
</html>